<footer class="dark-section site-footer">

  <div class="wrapper">

    <div class="row">
      <div class="col-sm-2 site-map">
        <h5>Solutions</h5>
        <ul>
          <li><a href="">Territory</a></li>
          <li><a href="">Plan</a></li>
          <li><a href="">Resource</a></li>
          <li><a href="">Appointment</a></li>
          <li><a href="">Route</a></li>
          <li><a href="">Dispatch</a></li>
          <li><a href="">Locate</a></li>
          <li><a href="">Connect</a></li>
          <li><a href="">Insight</a></li>
          <li><a href="">Result</a></li>
        </ul>
      </div>
      <div class="col-sm-2 site-map">
        <h5>Industries</h5>
        <ul>
          <li><a href="">Telecom</a></li>
          <li><a href="">Pest</a></li>
          <li><a href="">Lawn</a></li>
          <li><a href="">Pool</a></li>
          <li><a href="">Government</a></li>
          <li><a href="">Healthcare</a></li>
          <li><a href="">Linen</a></li>
          <li><a href="">Maintenance</a></li>
          <li><a href="">Delivery</a></li>
        </ul>
      </div>
      <div class="col-sm-2 site-map">
        <h5>Company</h5>
        <ul>
          <li><a href="">About Us</a></li>
          <li><a href="">Management Team</a></li>
          <li><a href="">Board of directors</a></li>
          <li><a href="">Sales Agent</a></li>
          <li><a href="">Careers</a></li>
          <li><a href="">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-sm-2 site-map">
        <h5>Resources</h5>
        <ul>
          <li><a href="">Blog</a></li>
          <li><a href="">Knowledge Center</a></li>
          <li><a href="">White Paper</a></li>
          <li><a href="">Customer Success Stories</a></li>
        </ul>
      </div>
      <div class="col-sm-4 contact-info">
        <ul class="social-media-list">
          <li>
            <a href="https://www.facebook.com/mobi.Austin">
              <span class="icon"><img src="{{ site.baseurl }}/img/flat-icon-facebook.svg"></span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/mobi_corp">
              <span class="icon"><img src="{{ site.baseurl }}/img/flat-icon-twitter.svg"></span>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/mobi-">
              <span class="icon"><img src="{{ site.baseurl }}/img/flat-icon-linkedin.svg"></span>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/u/1/b/110463600044047518971/+Mobicorp/posts">
              <span class="icon"><img src="{{ site.baseurl }}/img/flat-icon-google.svg"></span>
            </a>
          </li>
        </ul>
        <p>1-877-943-9433</p>
        <p>708 Congress Ave</p>
        <p>Austin, TX 78701</p>
      </div>

    </div>

  </div>


  <!-- my js -->
  <script src="{{ site.baseurl }}/js/helpers.js"></script>

  <!-- garand sticky header -->
  <script>
    $(document).ready(function(){
      $('#sticker').sticky({topSpacing:0})
        .on('sticky-start', function() {
          $('.header-cta a').addClass('hidden');
          $('.back-to-top').fadeIn();
        })
        .on('sticky-end', function(){
          $('.header-cta a').removeClass('hidden');
          $('.back-to-top').fadeOut();
        });
    });
  </script>

</footer>
