<header class="site-header" id="sticker">
  <section class="header-area row">
    <div class="col-sm-3">
      <a class="site-title" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/img/mobi_logo.svg">
      </a>
      <span class="menu-icon icon-list-plain"></span>
      <span class="search-icon icon-magnifying-glass"></span>
    </div>
    <div class="sticky-controls col-sm-4">
      <div class="header-cta">
        <a class="button blue form-jumper">Get your free demo</a>
        <a class="back-to-top">
          <img src="{{ site.baseurl }}/img/back-up-arrow.png">
          <span>Back to top</span>
        </a>
      </div>
    </div>
    <div class="search-area col-xs-12 col-sm-5">
      <span class="phone-number">1-877-943-9433</span>
      <form class="tipue-search-form" action="">
        <input type="text" name="q" id="tipue_search_input" class="search" autocomplete="off" placeholder="Keyword" required>
      </form>
    </div>
  </section>
</header>
<section class="nav-area row">
  <div class="col-sm-12">
    <ul class="top-nav">
      <li class="solutions">
        <img src="{{ site.baseurl }}/img/flat-icon-lightbulb.svg">
        <p>Solutions</p>
      </li>
      <li>
        <img src="{{ site.baseurl }}/img/flat-icon-about.svg">
        <p>Industries</p>
      </li>
      <li>
        <img src="{{ site.baseurl }}/img/flat-icon-about.svg">
        <p>Company</p>
      </li>
      <li>
        <img src="{{ site.baseurl }}/img/flat-icon-blog.svg">
        <p>Blog</p>
      </li>
      <li class="right">
        <img src="{{ site.baseurl }}/img/flat-icon-contact.svg">
        <p>Contact</p>
      </li>
      <li class="right">
        <img src="{{ site.baseurl }}/img/flat-icon-support.svg">
        <p>Support</p>
      </li>
      <li class="right">
        <img src="{{ site.baseurl }}/img/flat-icon-launch.svg">
        <p>Log In</p>
      </li>
    </ul>
  </div>
</section>
<section class="dark-section nav-dropdown">
  <div class="wrapper">
    <ul class="row solutions">
      <li class="col-sm-3 planning">
        <h5>
          <a href="">Planning</a>
        </h5>
        <ul>
          <li>
            <a href="">Territory <span>Territory management</span></a>
          </li>
          <li>
            <a href="">Plan <span>Long range planning</span></a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/resource">Resource <span>Data management</span></a>
          </li>
        </ul>
      </li>
      <li class="col-sm-3 daily-ops">
        <h5>
          <a href="">Daily Ops</a>
        </h5>
        <ul>
          <li>
            <a href="">Appointment <span>Scheduling</span></a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/route">Route <span>Daily routing</span></a>
          </li>
          <li>
            <a href="">Dispatch <span>Real-time dispatch</span></a>
          </li>
        </ul>
      </li>
      <li class="col-sm-3 gps-tracking">
        <h5>
          <a href="">GPS Tracking</a>
        </h5>
        <ul>
          <li>
            <a href="">Connect <span>Mobile dispatch app</span></a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/locate">Locate <span>GPS tracking</span></a>
          </li>
        </ul>
      </li>
      <li class="col-sm-3 analytics">
        <h5>
          <a href="">Analytics</a>
        </h5>
        <ul>
          <li>
            <a href="">Insight <span>Goal vs. actual</span></a>
          </li>
          <li>
            <a href="">Result <span>Plan vs. actual</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>

