@import "vendor/bootstrap/mixins";
@import "vendor/bootstrap/variables";
@import "vendor/bootstrap/mixins/grid";
@import "vendor/bootstrap/grid";
@import "buttons";

.homepage .hero-area {
    background: url('../img/hero-bg.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: right;
    position: relative;
    overflow: hidden;
    min-height: 500px;
    width: 100%;
    .wrapper {
        padding: $spacing-unit $spacing-unit * 4 $spacing-unit * 2;

        @include media-query($on-laptop) {
            padding-top: $spacing-unit;
            .header-content {
                z-index: 50;
                text-align: center;
                padding: $spacing-unit;
                background-color: rgba(50, 50, 50, 0.85);
            }
            h1, h2 {
                color: #ffffff;
            }
        }

        @include media-query($on-palm) {
            padding: $spacing-unit;
            .header-content {
                background: transparent;
            }
        }
    }
}
.hero-area {
    color: #505744;

    h1 {
        font-weight: 900;
        color: #414837;
        line-height: 1;
        font-size: $base-font-size * 3.8;
    }
    h2 {
        font-size: $base-font-size * 1.2;
        font-weight: normal;
        font-family: 'proxima-nova-soft';
    }
    .button {
        margin: $spacing-unit auto $spacing-unit * 0.5;
        text-align: center;
    }
}

#hero-overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    @include media-query($on-palm) {
        background-color: rgba(50, 50, 50, 0.85);
        display: block;
    }
}

.homepage section {
    text-align: center;
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;
}

.solution-features {
    a {
        font-weight: 900;
        font-family: 'proxima-nova-soft';
        color: $blue-color;
    }
    svg {
        @include media-query($on-palm) {
            margin-top: $spacing-unit * 2;
        }
    }
    .planning:hover .pl0 {
        fill: #A0BDD7;
    }
    .daily-ops:hover .do0 {
        fill: #FBB55E;
    }
    .gps-tracking:hover .gps0 {
        fill: #B2C043;
    }
    .analytics:hover .an0  {
        fill: #FEDD7F;
    }

}

.solution-features, .social-proof {
    padding-top: $spacing-unit;
    a h4 {
        color: $black-color;
        text-decoration: none;
        line-height: 1.2;
    }
    svg, img {
        margin-bottom: $spacing-unit;
        width: 100%;
        max-width: 10em;
    }
    [class^="col"]:first-child img, [class^="col"]:first-child svg {
        margin-top: 0;
    }
}

.description {
    font-size: $base-font-size * 0.875;
    color: $light-black-color;
}

.customers {
    border: 1px solid #e2e2e2;
    border-width: 1px 0;
    padding: 0 !important;
}

.video {
    position: relative;
    background: #414042 url('/mobi-website/img/dark-map-bg.jpg');
    a {
        display: block;
        color: #ffffff;
        margin: 2rem 0;
        text-decoration: underline;
        &:hover {
            color: #cacaca;
        }
    }
}

#joe {
    position: absolute;
    right: 8%;
    bottom: $spacing-unit;
    @include media-query($on-laptop) {
        right: 1%;
        max-width: 150px;
    }
    @include media-query($on-palm) {
        display: none;
    }
}

.roi-calculator {
    border-bottom: 8px solid $brand-color;
    .button {
        cursor: pointer;
        margin-top: $spacing-unit * 2;
    }
}

.roi-results {
    background-color: $brand-color;
    color: $dark-brand-color;
    display: none;
    .roi {
        h3 {
            font-size: $base-font-size * 4;
        }
        p {
            font-weight: 100;
            font-size: $base-font-size * 2;
        }
    }
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-weight: bold;
    }
    h3, a {
        padding-top: $spacing-unit;
    }
    a {
        color: #ffffff;
        display: block;
        font-size: $base-font-size * 1.25;
        font-weight: lighter;
        text-decoration: underline;
        &:hover {
            color: darken(#ffffff, 15%);
        }
    }
}

.social-proof {
    h1 {
        margin-bottom: $spacing-unit * 2;
    }
}

.light-section {
    background-color: #f7f7f7;
}

.dark-section {
    background-color: #414042;
    color: #ffffff;
}

.smb, .enterprise {
    margin-top: 2em;
    margin-bottom: 2em;
}

.purchase-box {
    padding: 0 0 2em;
    font-family: 'Proxima-nova-soft';
    table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        border: none;
        margin: 0;
    }
    th {
        color: #ffffff;
        padding: 2em 1em;
        border-radius: 4px 4px 0 0;
    }
    td {
        border-radius: 4px;
        height: 2.1em;
        @include media-query($on-palm) {
            height: auto;
            border: none !important;
        }
    }
    a {
        text-decoration: underline;
    }
    .products td {
        border-bottom: 1px solid #eee;
        padding: 0.25em 2em;
        &:first-child {
            border-top: 1px solid #eee;
        }
    }
    tbody {
        background: #ffffff;
        border-radius: 4px;
        .main-features {
            height: 10em;
            padding: 0.5em;
        }
    }
    .button {
        margin: 1em auto;
        width: 80%;
        font-size: 1.15em;
    }
    img {
        margin: 0 auto;
        display: block;
    }
    p, strong {
        margin: 0.25em 0;
        display: inline-block;
    }
    .smb th {
        background: $blue-color url('/mobi-website/img/smb-blue-tile.jpg');
        background-size: 192px 144px;
    }
    .enterprise th {
        background: $yellow-color url('/mobi-website/img/enterprise-yellow-tile.jpg');
        background-size: 96px 72px;
    }
}

.bundle-features > div {
    margin-top: 4em;
    text-align: left;
    a {
        font-size: 1.25em;
        display: block;
        margin: 1em auto 1em;
    }
}

.learn-more img {
    max-width: 80%;
}

.form-anchor {
    display: inline;
}

.demo-quote-form {
    background-color: #eee;
    .title {
        text-align: center;
    }
    form {
        background: #fff;
        border-radius: 4px;
        max-width: 600px;
        margin: 0 auto;
        padding: 1rem 0;
    }
    .row {
        margin-bottom: 1rem;
    }
    .form-toggle * {
        text-align: center;
    }
    .label {
        text-align: right;
        line-height: 3.5;
    }
    input[type="text"], input[type="number"], input[type="email"], input[type="tel"] {
        width: 80%;
    }
    #quote-form {
        display: none;
    }
    .button {
        display: block;
        width:  81.5%;
        margin: 1rem auto;
    }
    h1 span {
        text-decoration: underline;
    }
}


.product-features {
    text-align: center;
    position: relative;
    &.locate {
        background-color: #86a33d;
        &, h1, h2 {
            color: #364818 !important;
        }
    }
    &.route {
        background-color: $red-color;
        &, h1, h2 {
            color: #7d3c1d;
        }
    }
    &.resource {
        background-color: $blue-color;
        &, h1, h2 {
            color: $dark-blue-color;
        }
    }
    h1 {
        font-weight: 900;
        margin-top: 2rem;
    }

    .row:first-child img {
        margin-top: -1rem;
    }
    img {
        width: 90%;
        margin: 2rem auto;
    }

    .weeble {
        width: 300px;
        display: block;
        position: relative;
        right: -12rem;
        bottom: 2rem;
        margin-bottom: -2rem;
    }
}

.product-screenshots {
    .row {
        padding: 3rem 0;
        &:last-child {
            padding-bottom: 0;
        }
    }
    img {
        width: 100%
    }
}

.solution-row {
    padding-bottom: 2rem;
    text-align: center;
    svg {
        width: 180px;
    }
    ul {
        list-style-type: none;
        margin: 2rem 0;
    }
    li {
        display: inline-block;
    }
}